body{
  background-color: white;
  
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #37353A;
}

header{
  box-sizing: border-box;

  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #F19AFF;
}

a{
    text-decoration: none;
    color:black;
}
li {
  list-style-type: none;
}


.menu__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}