.taste {
  gap: 0;

  &__heading {
    margin-bottom: 50px;
  }

  &__text {
    text-align: center;
    letter-spacing: 0.05em;
    margin: 20px 50px 0 50px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-around;
    overflow: hidden;
  }

  &__card {
    width: 43%;
  }

  &__info {
    flex-direction: row;
    gap: 5px;
  }
}

.card__img_330 {
  width: 100%;
}

.card__info_100 {
  width: 100%;
  row-gap: 10px;
  padding-top: 4%;
}

.card__info_22 {
  font-size: 1rem;
  text-align: left;
}

.taste__card {
  &:nth-child(2n + 1) {
    //@include animationBefore(translate(-160%, 0px));
  }

  &:nth-child(2n) {
    //@include animationBefore(translate(160%, 0px));
  }
}

.taste__card._active {
  //@include animationBefore(translate(0px, 0px));
}
