section.container.block.footer
  nav.menu.footer__nav
    ul.menu__ul
      include _menu.pug
  .footer__contact
    include _links.pug
    span.footer__tel 8(800)555-3535
  span.footer__text Пс... я уже начала делать твой тортик