a(href="https://vk.com/anna_chocogirl")
  img.link__img(src="./img/_about/logo-vk.svg" alt="Ссылка на ВК")
a(href="https://instagram.com/anna_chocogirl?igshid=YmMyMTA2M2Y=")
  img.link__img(src="./img/_about/logo-instagram.svg" alt="Ссылка на инстаграм")
a(href="https://wa.me/79154134893")
  img.link__img(src="./img/_about/logo-whatsapp.svg" alt="Ссылка на WhatsApp")