a(href="#")
  img.link__img(src="./img/_about/logo-vk.svg" alt="Ссылка на ВК")
a(href="#")
  img.link__img(src="./img/_about/logo-instagram.svg" alt="Ссылка на инстаграм")
a(href="#")
  img.link__img(src="./img/_about/logo-whatsapp.svg" alt="Ссылка на WhatsApp")