-
    items = [
        {'src':"./img/_taste/pistachio-raspberry.jpg" ,'heading': 'фисташка-малина', 'description': 'Классический бисквит, ванильный и шоколадно-фисташковый крем, малиновый конфи', 'price': '1700 р/кг'},
        {'src':"./img/_taste/medovik.jpg" ,'heading': 'медовик', 'description': 'Медовые коржи и нежный крем пломбир','price': '1550 р/кг'},
        {'src':"./img/_taste/raffaello.jpg" ,'heading': 'Рафаэлло','description': 'ОписаниеОписание ОписаниеОписание ОписаниеОписание',  'price': '1770 р/кг'},
        {'src':"./img/_taste/snikers.jpg" ,'heading': 'сникерс', 'description': 'Шоколадный бисквит, шоколадный крем, нуга, арахис и соленая карамель ', 'price': '1550 р/кг'},
        {'src':"./img/_taste/exotic.jpg" ,'heading': 'экзотик', 'description': 'Классический бисквит, ванильный крем-чиз, конфи маракуйя, компоте манго (пюре + кусочки)', 'price':'1700 р/кг' },
        {'src':"./img/_taste/plug.jpg" ,'heading': 'Шоколад-вишня', 'description': 'Описание ОписаниеОписание ОписаниеОписание Описание', 'price':'1550 р/кг' },
        {'src':"./img/_taste/napoleon.jpg" ,'heading': 'наполеон', 'description': 'Коржи из слоеного теста, заварной ванильный крем','price':'1700 р/кг' },
        {'src':"./img/_taste/tiramisu.jpg" ,'heading': 'тирамису', 'description': 'Описание ОписаниеОписание ОписаниеОписание Описание', 'price':'1600 р/кг' },]

section.container.block.taste
  h1.heading вкусы
  .taste__cards
    each item in items
      .taste__card
        .card__img.card__img_330
          img.img(src=item.src)
        .card__info.card__info_100
          .card__info_title.heading #{item.heading}
          .card__info_main.taste__info
            .card__info_description.card__info_22 #{item.description}
            span.card__info_price #{item.price}
  .taste__text Минимальный вес торта: 1,5 кг. В стоимость сходит декор из крема и велюра. Декор из ягод, шоколада, цветов и съедобной печати оплачиваются отдельно.

