$color_back: white;
$color_text: #37353a;
$color_header: rgba(255, 255, 255, 0.8);
$color_line: #f19aff;
$color_pink: #d47890;
$color_saturatedPink: #df3c66;
$color__buttonBack: #f7cdc0;
$color_buttonText: #8b2a64;

header,
main {
  border-bottom: 1px solid $color_line;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

ul {
  margin: 0;
}

button {
  border: none;
}

body {
  background-color: $color_back;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: $color_text;
}

header {
  box-sizing: border-box;

  padding: 20px 100px;
  background: $color_header;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color_text;
}
li {
  list-style-type: none;
}

.heading {
  font-family: "FoglihtenNo06";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;

  letter-spacing: 0.02em;
  color: $color_text;
}

@import "./scss/main";
