$color_back: white;
$color_text: #37353a;
$color_header: rgba(255, 255, 255, 0.8);
$color_line: #f19aff;
$color_pink: #d47890;
$color_saturatedPink: #df3c66;
$color_buttonBack: #f7cdc0;
$color_buttonText: #8b2a64;

$indent: 7.5%;

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.header,
.container {
  border-bottom: 1px solid $color_line;
}

.header {
  position: fixed;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

ul {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: $color_back;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3;
  color: $color_text;
}

.header {
  box-sizing: border-box;

  padding: 1.5% $indent;
  background: $color_header;
}

p,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color_text;
}
li {
  list-style-type: none;
}

.menu__item:hover {
  color: $color_saturatedPink;
}

.heading {
  font-family: "FoglihtenNo06";
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.14;

  letter-spacing: 0.02em;
  color: $color_text;

  text-transform: uppercase;
}

.container {
  padding-left: $indent;
  padding-right: $indent;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 4%;
  gap: 50px;

  overflow: hidden;
}

.svg_social {
  fill: $color_saturatedPink;
  transform: scale(1.1);

  &:hover {
    fill: $color_pink;
  }
}

/* Preloader */
.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  display: flex;
  background-color: $color_header;
  justify-content: center;
  align-items: center;
}

.preloader-container.preloader_close {
  display: none;
}

.preloader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $color_pink;
  animation: preloader-spin 2s linear infinite;
}
.preloader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $color_line;
  animation: preloader-spin 3s linear infinite;
}
.preloader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $color_saturatedPink;
  animation: preloader-spin 1.5s linear infinite;
}
@keyframes preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @keyframes fade-in {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// body {
//   animation: fade-in 2s ease;
// }

@import "./scss/mixin";
@import "./scss/main";
@import "./scss/about";
@import "./scss/advantage";
@import "./scss/assortment";
@import "./scss/taste";
@import "./scss/review";
@import "./scss/specialOffer";
@import "./scss/contact";
@import "./scss/footer";
@import "./scss/buttonToggle";

._display {
  display: none;
}

// @media (max-height: 1280px) {
//   html {
//     font-size: 16px;
//   }

//   .offer__content {
//     gap: 9px;
//   }
// }

@media (max-width: 1024px) {
  .taste__card {
    width: 46%;
  }
}

@media (min-width: 1399px) {
  .main__foto1 {
    min-height: 450px;
  }

  .buttonToggle {
    padding: 35px 55px;
  }
}

@media (min-width: 1599px) {
  html {
    font-size: 22px;
  }

  .main__foto1 {
    min-height: 500px;
  }

  .row {
    min-height: 350px;
  }
}

@media (min-width: 1919px) {
  html {
    font-size: 24px;
  }

  .main__info {
    gap: 40px;
  }

  .about__img {
    transform: scale(1.1);
  }
  .buttonToggle {
    padding: 45px 65px;
  }
}
