<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Кондитерская Анны
    body
        header
          nav.menu
            ul.menu__ul
              include pug/_menu.pug
        main
          include pug/_main.pug
          include pug/_about.pug
          include pug/_advantage.pug
          include pug/_assortment.pug
          include pug/_taste.pug
          include pug/_footer.pug
        script(src='./main.js')