.row {
  height: 30vh;
  min-height: 250px;
  border-bottom: 1px solid #f19aff;

  display: flex;
}

.row_last {
  border-bottom: none;
}

.section_not_padding {
  padding-bottom: 0;
}

.advantage__rows {
  width: 100%;
  overflow: hidden;
}

.row__text {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.15;
  letter-spacing: 0.05em;
}

.row__block_big-text {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.row__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  overflow: hidden;
}

.text__small {
  width: 180px;
  text-align: start;
}

.row__block_25 {
  width: 25%;
}

.row__block_40 {
  width: 40%;
}

.row__block_333 {
  width: 33.3333333%;
}

.row__block_35 {
  width: 35%;
}

.row__block_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row__text_235 {
  width: 235px;
}

.text__small_right {
  width: 230px;
  text-align: right;
}

.row {
  //@include animationBefore(translate(-150%, 0px));
}

.row:nth-child(2) {
  //@include animationBefore(translate(150%, 0px));
}

.row._active {
  //@include animationBefore(translate(0px, 0px));
}

.row__block_img-last {
  width: 150%;
  object-position: -83px 40%;
}
.row__block_img-first {
  object-position: 0 20%;
}
