.cards {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 50px;

  height: 850px;
  overflow: hidden;
}
.card {
  padding: 0px 70px 50px;
  border-bottom: 1px solid $color_line;

  &:last-child {
    border-bottom: none;
  }
}

.card__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card__img {
  width: 45%;
  height: 350px;
  overflow: hidden;
}

.card__info {
  width: 45%;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.img {
  object-fit: cover;
}

.card__info_title {
  font-size: 32px;
  line-height: 41px;

  letter-spacing: 0.05em;
}

.card__info_price {
  font-family: "FoglihtenNo06";
  letter-spacing: 0.05em;
  color: $color_buttonText;

  display: inline-block;
  white-space: nowrap;

  padding: 16px 24px;
  background-color: $color_buttonBack;

  &:hover {
    background-color: #f7ddd5;
  }
}

.card__info_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.assortment {
  gap: 0;

  &__heading {
    margin-bottom: 50px;
  }
}

.card {
  @include animationBefore(translate(-160%, 0px));
}

.card:nth-child(2) {
  @include animationBefore(translate(160%, 0px));
}

.card._active {
  @include animationBefore(translate(0px, 0px));
}
