.main {
  height: 735px;
  padding-top: 69px;

  position: relative;
}

.menu__ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.main__info {
  position: absolute;
  left: 100px;
  top: 153px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;

  z-index: 2;
}

.main__fotos {
  height: inherit;

  position: relative;
}

.main__foto2 {
  height: 100%;
  width: 435px;
  background-image: url("./img/_main/main2.jpg");

  position: absolute;
  top: 0;
  right: 0;
}

.main__foto1 {
  width: 350px;
  height: 400px;
  border-radius: 175px 175px 0px 0px;
  background-image: url("./img/_main/main1.jpg");

  position: absolute;
  right: 287px;
  top: 335px;

  z-index: 1;
}

.main__h {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.main__row1,
.main__row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.main__row1_img {
  width: 90px;
  height: 60px;

  background: url("./img/_main/main4.jpg");
  border-radius: 50px 50px 0px 0px;
}

.main__row3_img {
  width: 60px;
  height: 60px;

  background: url("./img/_main/main3.jpg");
  border-radius: 42px;
}

.main__text {
  width: 515px;
}

.ellipses {
  width: 460px;
  height: 99px;
  fill: none;
}

.main__button {
  background-color: transparent;

  position: relative;
}

.main__buttonText {
  font-size: 24px;
  color: $color_saturatedPink;

  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

.main__button:hover .ellipse_hover {
  fill: $color__buttonBack;
}

.ellipse1 {
  stroke: $color_pink;
}

.ellipse2 {
  stroke: $color_saturatedPink;
}
