.arrow__next {
  transform: rotate(180deg);
}

.arrow {
  fill: $color_pink;

  &:hover {
  cursor: pointer;
  fill: $color_saturatedPink;
}
}

.arrow_disable {
  fill: $color_buttonBack;
}

.arrow_next {
  transform: rotate(180deg);
}

.slider__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.slider__review {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: calc(100% / 3);
  transition: all 0.6s ease;
}

.slider__img {
  position: relative;
  transform: scale(0.85);
}

.slider__img_border {
  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 400px;
  top: 0px;

  border: 1px solid $color_saturatedPink;
  border-radius: 0px 200px 0px 0px;
  transform: rotate(4deg);
}

.slider__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;

  width: 60%;
}

.slider__info_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.slider__info_name {
  color: $color_saturatedPink;
  font-weight: 800;
}

.slider {
  max-width: 75%;
  overflow: hidden;
  margin-top: -22px;
}

.navigation {
  display: flex;
  gap: 20px;
}
.bar {
  height: 8px;
  width: 50px;
  cursor: pointer;
  background-color: $color_saturatedPink;
  opacity: 0.5;
  border-radius: 10px;
  transition: all 0.4s ease;

&:hover {
  opacity: 1;
  transform: scale(1.1);
}
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  display: flex;
  width: 300%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: calc(-100% / 3);
}

#r3:checked ~ .s1 {
  margin-left: calc(-100% / 3 * 2);
}
