.offer {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.offer__main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.offer__foto {
  width: 50%;
}

.offer__foto {
  border-radius: 50% 0px;
  overflow: hidden;
}

.offer__img {
  height: 100%;
}

.offer__title {
  font-family: "FoglihtenNo06";
  font-size: 2.1rem;
  line-height: 1.26;
  letter-spacing: 0.05em;
}

.offer__desc {
  font-size: 1.5rem;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.05em;
}

.offer__info {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
}

.offer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: calc(50% - $indent);
  padding: 55px 30px;
  box-sizing: border-box;
}

.offer_margin-right {
  margin-right: $indent;
}

.offer_margin-left {
  margin-left: $indent;
}

.offer__buttonText {
  font-family: "FoglihtenNo06";
  font-size: 1.1rem;
  line-height: 2.27;
  letter-spacing: 0.05em;
  color: $color_saturatedPink;
}

.offer__button {
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &:hover .offer__figure_hover {
    fill: $color_buttonBack;
  }
}

.offer__figure {
  fill: transparent;
  stroke: $color_buttonText;
}

.offer__figure_hover {
  stroke: $color_saturatedPink;
}

.offer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  gap: 35px;
}

.offer__buttonText {
  position: absolute;
  left: 50%;
  transform: translateX(-52%) translateY(-73%);
  top: 50%;
}

.offer__svg {
  width: 90%;
  height: 140px;
}

.offer__figure_position {
  transform: translateY(-18%) rotate(2deg);
}

.offer__main {
  //@include animationBefore(translate(0px, 160%));

  &._active {
    //@include animationBefore(translate(0px, 0px));
  }
}
