.offer {
  padding-left: 0;
  padding-right: 0;
}

.offer__main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.offer__foto {
  width: 50%;
}

.offer__content {
  width: calc(50% - 100px);
}

.offer__foto {
  border-radius: 50% 0px;
  overflow: hidden;
}

.offer__img {
  height: 100%;
}

.offer__title {
  font-family: "FoglihtenNo06";
  font-size: 42px;
  line-height: 53px;
  letter-spacing: 0.05em;
}

.offer__desc {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.05em;
}

.offer__info {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.05em;
}

.offer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0px;
}

.offer_margin-right {
  margin-right: 100px;
}

.offer_margin-left {
  margin-left: 100px;
}

.offer__buttonText {
  font-family: "FoglihtenNo06";
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: $color_saturatedPink;
}

.offer__button {
  background-color: transparent;

  position: relative;

  &:hover .offer__figure_hover {
  fill: $color_buttonBack;
}
}

.offer__figure {
  fill: transparent;
  stroke: $color_buttonText;
}

.offer__figure_hover {
  stroke: $color_saturatedPink;
}

.offer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  gap: 35px;
}

.offer__buttonText {
  position: absolute;
  left: 50%;
  transform: translateX(-52%) translateY(-73%);
  top: 50%;
}

.offer__svg {
  width: 90%;
  height: 140px;
}

.offer__figure_position {
  transform: translateY(-18%) rotate(2deg);
}
